<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <th:block th:fragment="specification-chapter(items, title, type)">
            <thead class="table-dark">
                <tr>
                  <th colspan="7">
                      <button type="button" class="btn btn-success btn-sm" th:name="add-button" th:attr="data-type=${type}">
                          Добавить новый элемент в сборку
                      </button>
                  </th>
                </tr>
            </thead>
            <tbody>
                <tr th:attr="id='row-add-item-' + ${type}" style="display: none;">
                    <td colspan="3">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example"></select>
                    </td>
                    <td>
                        <input class="form-control form-control-sm" type="number" value="1" min="1"
                               aria-label=".form-control-sm example" th:name="input-count" th:attr="data-type=${type}">
                    </td>
                    <td colspan="3">
                        <button type="button" class="btn btn-success btn-sm w-100" th:name="add-row-button" th:attr="data-type=${type}">
                            <i class="bi bi-clipboard-plus"></i>
                            Добавить
                        </button>
                    </td>
                </tr>
                <tr th:attr="id='row-title-' + ${type}">
                    <td th:text="''" />
                    <td class="text-center text-decoration-underline fw-bold" th:text="${title}" />
                    <td th:text="''" />
                    <td th:text="''" />
                    <td th:text="''" />
                    <td th:text="''" />
                    <td th:text="''" />
                </tr>
                <tr th:each="item, index : ${items}">
                    <td class="text-center" th:text="${index.count}" />
                    <td th:text="${item.element.number}" />
                    <td th:text="${item.element.name}" />
                    <td class="text-center">
                        <span th:text="${item.rate}"></span>
                        <input class="form-control form-control-sm" type="number" value="1" min="1"
                               th:name="input-count" th:attr="data-type=${type}" style="display: none;">
                    </td>>
                    <td th:text="${item.element.status}" />
                    <td class="text-center">
                        <button type="button" class="btn btn-success btn-sm">
                            <i class="bi bi-file-earmark-diff"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-danger btn-sm">
                            <i class="bi bi-file-earmark-excel"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </th:block>

  </body>
</html>